.topic-card td.main-link, .topic-card div.main-link {
    border: 1px solid red;
   display: grid;
   grid-template-areas:
      "tags tags"
      "title title"
      "excerpt excerpt"
      "op metadata";
  grid-template-rows: auto auto 1fr auto;     
}
    
.topic-card .main-link .topic-card__publish-date {
  display: none;
}

